.dark-mode{
    color: rgb(255, 255, 255);
    background: #000000;
}
.dark-mode .main_menu li.nav-item a.nav-link{
    color: rgb(255, 255, 255)!important;
}
.dark-mode .course_cat_heading h1, .section_heading h2, .section_heading3 h2 {
    color: rgb(255, 255, 255)!important;
}
.dark-mode .course_heading h3 {
    color: rgb(255, 255, 255)!important;
}
.dark-mode .milestone_slider_bg {
    background-color: #111111;
}
.dark-mode .milestone_slider_bg .card-text {
    color: #605F62;
}
.dark-mode .course_single_item {
    color: #605F62;
    background-color: #111111;
}
.dark-mode .course_single_item .course_text h3{
    color: #ffffff;
}
.dark-mode .course_single_item .course_text p{
    color: #605F62;
}

